<div class="modal fade"
     id="heightConfirmModal"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-between">
                <h1 class="modal-title fs-5" id="exampleModalLabel">אזהרה:</h1>
                <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="message">יש יותר מ10 ס"מ בין גובה הספר לגובה המדף. האם אתה בטוח שתרצה להוסיף את הספר למדף זה?"</p>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ביטול</button>
                <button type="button" id="confirmHeightSubmit" class="btn btn-primary">אישור</button>
            </div>
        </div>
    </div>
</div>

